data/raw/Backdoor_Malware/
data/raw/Benign_Final/
data/raw/BrowserHijacking/
data/raw/CommandInjection/
data/raw/DDoS-ACK_Fragmentation/
data/raw/DDoS-HTTP_Flood/
data/raw/DDoS-ICMP_Flood/
data/raw/DDoS-ICMP_Fragmentation/
data/raw/DDoS-PSHACK_FLOOD/
data/raw/DDoS-RSTFINFLOOD/
data/raw/DDoS-SYN_Flood/
data/raw/DDoS-SlowLoris/
data/raw/DDoS-SynonymousIP_Flood/
data/raw/DDoS-TCP_Flood/
data/raw/DDoS-UDP_Flood/
data/raw/DDoS-UDP_Fragmentation/
data/raw/DNS_Spoofing/
data/raw/DictionaryBruteForce/
data/raw/DoS-HTTP_Flood/
data/raw/DoS-SYN_Flood/
data/raw/DoS-TCP_Flood/
data/raw/DoS-UDP_Flood/
data/raw/MITM-ArpSpoofing/
data/raw/Mirai-greeth_flood/
data/raw/Mirai-greip_flood/
data/raw/Mirai-udpplain/
data/raw/Recon-HostDiscovery/
data/raw/Recon-OSScan/
data/raw/Recon-PingSweep/
data/raw/Recon-PortScan/
data/raw/SqlInjection/
data/raw/Uploading_Attack/
data/raw/VulnerabilityScan/
data/raw/XSS/
data/processed/